<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">About We Exist Series 5</h5>
    <p class="card-text">{{ site.description }}</p>
    <p class="card-text">Browse items from the exhibition, search by subject or location, or view the item timeline. Clips and selected quotes from oral histories will help those with certain disabilities who are interested in the exhibit to actively participate.</p>
    <a class="btn btn-primary" href="{{ '/series5.html' | relative_url }}" role="button">Read Dr. Gibbs' introduction &raquo;</a>
  </div>
</div>
